<style type="text/css">
    .uploadedImages{
        height: 100px;
        width: 100%;
        margin:0 0 15px 0;
        border: solid 1px #ddd;
        float: left; 
    }
    .uploadedImages img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .card .table td{
        padding: 10px 5px;
    }
    .table.variationTable .form-control{
        padding: 8px 8px;
        height: 45px;
    }
    .table.variationTable .form-group{
        margin-bottom: 10px;
    }
    .variationList{
        width: 100%;
        float: left;
    }
    .variationList{
        padding: 0;
    }
    .variationList>li{
        display: inline-block;
        margin:0 25px 5px 0; 
    }

</style>
<div class="container-fluid">
    <div class="row">

         <div class="mb-4 col-sm-12">
            <div class="row">
                <div class="col-xl-3 col-sm-4">
                    <h4 class="green text-sm m-0">{{page_title}}</h4>
                </div>
            </div>
        </div> 

        <div class="col-xl-12">          
            <div class="card shadow">            
                <div class="card-body">              
                    <form role="form" name="item_form" id="item_form" ng-validate="validateform" ng-submit="saveItem(item_form)">
                        <div class="mb-4"></div>
                        <div class=""> 
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Variants">Variants</label>
                                        <select ng-model="itemObj.Variants" class="form-control form-control-alternative" name="Variants" id="Variants" required="">
                                            <option value="1">Active</option>                        
                                            <option value="0">Inactive</option>                        
                                        </select>                      
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="gallery_type">Gallery Type</label>
                                        <select ng-model="itemObj.gallery_type" class="form-control form-control-alternative" name="gallery_type" id="gallery_type" required="">
                                            <option value="1">Exterior</option>                        
                                            <option value="2">Interior</option>                        
                                        </select>                      
                                    </div>
                                </div> 
                                <div class="col-lg-6">                      
                                    <div class="form-group">                        
                                        <label class="form-control-label" for="brochure">Images</label>                       
                                        <input type="file" id="brochure" name="brochure" class="form-control form-control-alternative" ngf-select="" ng-model="itemObj.brochure" ngf-multiple="true" ngf-pattern="'.jpg,.png,.jpeg'" ngf-accept="'icon/*'">
                                    </div>                      
                                    <div class="" style="margin-bottom:15px;">
                                        <img ngf-src="itemObj.brochure" ng-if="itemObj.brochure"  style="max-width: 200px;" />
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="row">                
                                <div class="col-lg-12">
                                    <div class="text-left">
                                        <button ng-class="{'disabled':saving == true}" type="submit" class="btn btn-primary my-4 px-lg-5">
                                            Save &nbsp; <i class="fas fa-spinner fa-spin" ng-if="saving" class="gif_loader"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .padding_rev_15 {
        margin-left: -30px;
        margin-right: -30px;
    }
</style>