<style type="text/css">    
.filterRow ul li { 
	list-style: none;
}
.filterRow li {
	display: inline-block;
}
.logo{
   width: 45px;
   display: inline-block;
   margin: 0 10px;
}
.logo>img{
   max-width: 100%;
}
</style>
<!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
   <span class="mask bg-gradient-primary opacity-8"></span>    
   <div class="container-fluid d-flex align-items-center">
      <div class="row">
         <div class="col-lg-12">
            <h1 class="display-3 text-white">{{page_title}}</h1>
         </div>
      </div>
   </div>
</div> -->




<div class="container-fluid">
   <div class="row">

     <!--  <div class="mb-4 col-sm-12">
         <div class="row">
            <div class="col-xl-3 col-sm-4">
               <h4 class="green text-sm m-0">{{page_title}}</h4>
            </div>
         </div>
      </div> -->

      <div class="mb-4 col-sm-12">
         <div class="row">
            <div class="col-xl-3 col-sm-4">
               <h4 class="green text-sm m-0 ng-binding">User Management</h4>
            </div>
         </div>
      </div>

      <div class="mb-3 col-sm-12">
         <div class="row">
           <!--  <div class="col-sm-3">
               <div class="searchBox">
                  <input class="text-sm" ng-model="search_str" placeholder="Order Number" name="srch-term" id="srch-term" type="text" autocomplete="off" ng-keyup="loadOrders()" class="text-sm" />
                  <span class="searchIcon"><i class="fa fa-search"></i></span>
               </div>
            </div>
            <div class="col-sm-6">
               
            </div> -->
            <div class="col-sm-12">
               <div class="dropdown pull-right">
                  <a class="actionButton filterBtn" href="usermanagement/add"> 
                     <span class="text-capitalize">Add New</span>
                  </a>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-12 order-xl-12 mb-12 mb-xl-0">
         <div class="card shadow">
            <!-- <div class="card-header border-0">
               <div class="row">
                  <div class="col-xl-4 col-sm-4">
                      <div class="filterRow">
                          <ul class="flex" style="padding-left: 0;margin-top: 10px;">
                              <li style="margin-right: 15px;">
                                  <div class="custom-control custom-radio"> <input type="radio" id="all" ng-click="loadhsnCode()" name="status" ng-model="search_obj.status" value="" class="custom-control-input"> <label class="custom-control-label" for="all">All</label> </div>
                              </li>
                              <li style="margin-right: 15px;">
                                  <div class="custom-control custom-radio"> <input type="radio" id="active" ng-click="loadhsnCode()" name="status" ng-model="search_obj.status" value="1" class="custom-control-input"> <label class="custom-control-label" for="active">Active</label> </div>
                              </li>
                              <li>
                                  <div class="custom-control custom-radio"> <input type="radio" id="inactive" ng-click="loadhsnCode()" name="status" ng-model="search_obj.status" value="0" class="custom-control-input"> <label class="custom-control-label" for="inactive">Inactive</label> </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-5 col-sm-4">
                     <div class="text-right">
                     	<a class="btn btn-icon btn-3 btn-primary" href="coupons/add">
                     		<span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                     		<span class="">Add New</span>
                     	</a>
                     </div>
                  </div>
                  <div class="clearfix"></div>
               </div>
            </div> -->
            <div class="row" ng-show="isLoading">
               <div class="col-lg-12 loadingWrapper">
                  <div class="spinner">
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                  </div>
               </div>
            </div>

            <div class="card-body" ng-show="!isLoading">
               <table class="table align-items-center listTable">
                  <thead class="">
                     <tr class="headerTh">
                         <th width="5%;">
                             <div class="checkbox" style="padding-top: 10px;">
                              <label><input type="checkbox" value=""></label>
                           </div>
                         </th>
                        <th width="30%;">Name</th>
                        <th>Email</th>
                        <!-- <th>Restaurant</th> -->
                        <th><span ng-if="!tip">Contact Detail</span></th>
                        <th ng-if="delivery_type == 'scheduled'" class="text-center" scope="col">Schedule Date</th>
                      <!--   <th class="text-left" scope="col">Password</th> -->
                        <th ng-if="!tip" class="text-right" scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                        <td>
                           <div class="checkbox">
                              <label><input type="checkbox" value=""></label>
                           </div>
                        </td>
                       <td>Mayur Patel</td>
                       <td>Mayur@coronation.in</td>
                       <td>1234567890</td>
                       <!-- <td>Mayur@coronation.in</td> -->
                        <td class="text-right">
                           <div class="dropdown">
                              <a class="actionButton accepted" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                <span class="text-capitalize">Action</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                              </a>                                        
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end" style="position: absolute; transform: translate3d(-92px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                 <!-- ngIf: product.status == 1 --><a class="dropdown-item ng-scope" ng-if="product.status == 1" ng-click="changeStatus(product.product_id, $index)" href="javaScript:void(0)">
                                  <span class="badge badge-dot"> 
                                    <i class="bg-warning"></i> 
                                   </span> Take Offline
                                 </a><!-- end ngIf: product.status == 1 -->
                                 <!-- ngIf: product.status == 0 -->                                            
                                 <hr style="margin: 5px auto;">
                                 <a class="dropdown-item" href="javaScript:void(0);">
                                  <i class="fa fa-edit"></i> Edit
                                 </a>
                                 <!-- <a class="dropdown-item" href="javaScript:void(0)" ng-click="makeDuplicate(product.product_id)">
                                  <i class="fa fa-file"></i> Make Duplicate
                                 </a> -->
                                 <!-- <a class="dropdown-item" href="offers/{{restaurant_id}}/{{toBase64(product.product_id)}}">
                                  <i class="fa fa-tag"></i> Offers
                                 </a> -->
                                 <a class="dropdown-item" href="javaScript:void(0)" ng-click="remove(product.product_id, $index)">
                                  <i class="fa fa-trash" aria-hidden="true"></i>Delete
                                 </a>                                        
                              </div>
                           </div>
                        </td>
                    </tr>

                  </tbody>
               </table>
               <div class="text-center">
                  <paging page="currentPage" page-size="page_limit" total="total_records" show-prev-next="true" show-first-last="true" hide-if-empty="total_records <= ((currentPage)*page_limit)" paging-action="loadOrders(page-1)" class="pull-right"></paging>
              </div>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>